In [60]:
import numpy as np
import pandas as pd

In [61]:
from numpy.random import randn
np.random.seed(101)

rand_mat = randn(5, 4)

In [62]:
rand_mat

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [63]:
df = pd.DataFrame(rand_mat, index='A B C D E'.split(), columns = ['W X Y Z'.split()])

In [64]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [65]:
df['W']

          W
A  2.706850
B  0.651118
C -2.018168
D  0.188695
E  0.190794

In [66]:
df[['W', 'Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077
C -2.018168  0.528813
D  0.188695 -0.933237
E  0.190794  2.605967

In [67]:
#not recommended
df.W

          W
A  2.706850
B  0.651118
C -2.018168
D  0.188695
E  0.190794

In [73]:
df['new'] = df['W'] + df['Y']

In [74]:
df

          W         X         Y         Z new
A  2.706850  0.628133  0.907969  0.503826 NaN
B  0.651118 -0.319318 -0.848077  0.605965 NaN
C -2.018168  0.740122  0.528813 -0.589001 NaN
D  0.188695 -0.758872 -0.933237  0.955057 NaN
E  0.190794  1.978757  2.605967  0.683509 NaN

In [81]:
df.drop('new', axis=1, inplace= True) #axi 1 in for columns

In [82]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [84]:
df.drop('A', inplace= True)

In [85]:
df

          W         X         Y         Z
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [90]:
df.loc[['B', 'C', 'D']]

          W         X         Y         Z
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [91]:
df.iloc[[0,2]]

          W         X         Y         Z
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057

In [94]:
df.loc[['B', 'D'], ['Y', 'Z']]
#or
df.loc[['B', 'D']] [['Y', 'Z']]

          Y         Z
B -0.848077  0.605965
D -0.933237  0.955057